# Compiled Object files
*.obj

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.dll
*.pdb
*.FPK

Assets/fpklive_token.txt
!/Tools/*.dll
XmlValidator.log

.vscode/settings.json

Tools/Setup/git_installer.exe
