# Compiled Object files
*.obj

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.dll
*.pdb
*.FPK

Assets/fpklive_token.txt
!/Tools/*.dll
XmlValidator.log
desktop.ini

.vscode/settings.json

git_installer.exe
Tools/Setup/.wget-hsts

Assets/**/*.dds
Assets/**/*.nif
Assets/**/*.kfm
Assets/**/*.kf

Sources/cov-int/
Build/

test-gen.bat

CHANGELOG.md
