name: Commit jobs
on: [push, pull_request]
jobs:
    pylint:
        name: Linting - Pylint
        runs-on: ubuntu-20.04
        strategy:
            matrix:
                python-version: [2,3]
        steps:
            - name: Check out code
              uses: actions/checkout@v2
              with:
                  lfs: true
            - name: Lint in docker
              run: |
                  docker run \
                      --rm \
                      --interactive \
                      --volume ${{ github.workspace }}:/host_dir \
                      --workdir /host_dir ubuntu:20.04 \
                      bash -c \
                      "./Tools/Lint/setup.sh && python3 Tools/Lint/pylint.py --python-versions ${{ matrix.python-version }}"
